* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

  background-image: url(background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-footer {
    text-align: center;
    margin-top: 300px;
  }
 /* 
  .card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
  }
  
  .card-footer::after {
    content: " ";
    display: block;
    clear: both;
  }
 */ 
  .btn {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  }

  .box {

    border: 2px solid black;
    margin: 0 60px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
  }

  .box p {

    background-color: rgba(173, 173, 171, 0.362);
    padding: 20px;
    text-align: left;
  }

  .footer {

    padding-top: 150px;
    text-align: center;
    color: rgb(28, 0, 0);
    font-size: 1.2rem;

  }

  .icons {

    text-align: center;

}

.fa-brands {
    padding-top: 5px;
    color: #fff;
}

h5 {

    text-align: center;
    color: #fff;

}

@media screen and (max-width: 500px) {

  .box {

    margin: 0 40px;
  }
}
